@font-face {
  font-family: "Aileron";
  src: url("assets/fonts/Aileron-Regular") format("woff");
}

:root {
  --white-mark: #fcfcfc;
  --red-mark: #d63c37;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  background-color: var(--white-mark);
  font-family: "Aileron", sans-serif;
}

.white-mark-text {
  color: var(--white-mark);
}

.red-mark-text {
  color: var(--red-mark);
}

.menu {
  right: 1rem;
}

.page1-title-font {
  font-family: "Caladea", serif;
}

.page3-title-font {
  font-family: "Myriad Pro", sans-serif;
}

.menu-cell {
  width: 32px;
  height: 6px;
}

#field {
  background-image: url(../img/field.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

#discover {
  background-color: var(--red-mark);
}
