:root {
  --white-mark: #fcfcfc;
  --red-mark: #d63c37;
}

body {
  background-color: var(--white-mark);
}

.red-mark-text {
  color: var(--red-mark);
}

#field {
  background-image: url(../img/field.png);
  background-position: bottom;
}

#missl {
  background-image: url(../img/missl.png);
}

#discover {
  background-color: var(--red-mark);
}
